:root {
    --fuente-principal: "Helvetica", sans-serif;
    --color-azul-claro: #2B448C;
    --color-azul-oscuro: #1B1F4C;
}

body { font-family: var(--fuente-principal); }
h1, h2, h3 {
    padding: 10px;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
button {
    background-color: var(--color-azul-claro)!important;
    border-color: var(--color-azul-claro)!important;
}
button:hover {
    background-color: var(--color-azul-oscuro)!important;
    border-color: var(--color-azul-oscuro)!important;
}
form {
    padding: 10px;
}
.imagen {
    width: 30%;
    height: auto;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media (min-width: 576px) {
    h1 {
        font-size: 30px;
    }
}
@media (min-width: 768px) {
    form {
        padding: 6px;
    }
    .imagen {
        width: 20%;
        height: auto;
    }
    .flex {
        flex-direction: row;
        align-items: center;
    }
    .flex label {
        padding: 4px!important;
    }
    .flex button {
        margin-top: 0 !important;
    }
    @media (min-width: 992px) {
        h1 {
            font-size: 50px;
        }
    }
}
/***************************/
.imagen-pokemon{ max-width: 70%; }
@media (min-width: 576px) { .imagen-pokemon{ max-width: 50%;} }
@media (min-width: 768px) { .imagen-pokemon{ max-width: 30%;} }
/**************************/
@media (min-width: 768px) {
    .info-flex{
        display: flex;
    }

    .info-flex > div:nth-child(2){
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
    }
}