
<main class="p-4 mt-4">
    <form action="pokemons/get" method="get" class="d-flex flex-column align-items-center">
        <h2 class="centrar m-0 fs-4">Busca tu POKEMON!</h2>
        <div class="input-group">
            <input type="search" name="buscar" placeholder="Ingrese el nombre, tipo o número de pokemon" class="form-control w-75 p-3">
            <button type="submit" class="btn text-light fw-bold w-25">¿Quien es este pokemon?</button>
        </div>
    </form>
    
    <table class='table table-striped'>
        <tr>
            <th scope='col' class='text-primary text-center'>Imagen</th>
            <th scope='col' class='text-primary text-center'>Tipo</th>
            <th scope='col' class='text-primary text-center'>Numero</th>
            <th scope='col' class='text-primary text-center'>Nombre</th>
        </tr>
        {{#error}}
            <h3>{{error}}</h3>
        {{/error}}
        {{#pokemones}}

            <tr>
                <td scope='row' class='text-center w-25'>
                    <img src="/TP-POKEDEX-PWII_UNLaM/{{imagen}}" class='imagen-pokemon'>
                </td>
                <td class='text-center' >
                    <img src="/TP-POKEDEX-PWII_UNLaM/{{tipo}}" class='imagen-pokemon'>
                </td>
                <td class='text-center'>{{numero_identificador}}</td>
                <td class='text-center fw-bold'><a href='/TP-POKEDEX-PWII_UNLaM/pokemons/getInfoPokemon&pokemon_id={{id}}' style='color: inherit; font-weight: bold; cursor: pointer;'>{{nombre}}</a></td>

                {{#esAdministrador}}
                <td class='text-center'>
                    <div class='d-flex justify-content-center mq'>
                    <!-- EDITAR POKEMON -->
                        <form action='edit' method='post'>
                            <input type="hidden" name="pokemon_id" value="{{id}}">
                            <button type='submit' class='text-light btn btn-info'>Editar</button>
                        </form>

                    <!-- ELIMINAR POKEMON -->
                        <form action='delete' method='post'>
                            <input type="hidden" name="pokemon_id" value="{{id}}">
                            <button type='submit' class='text-light btn btn-danger' style='background-color: firebrick!important; border-color: firebrick!important;'>Eliminar</button>
                        </form>
                    </div>
                </td>
                {{/esAdministrador}}

            </tr>
        {{/pokemones}}

    </table>

    {{#esAdministrador}}
        <a href="add" class="d-block">
            <h3 class="btn btn-success w-100 fw-bold fs-5">Agregar Pokemon</h3>
        </a>
    {{/esAdministrador}}

    </main>